$main: #1a73e8;
$dark: #191919;
$mediumdark: rgba(0, 0, 0, 0.7);
$light: #e8e8e8;

@keyframes show-modal {
  from {
    opacity: 0.3;
    margin-top: 50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

// event
.event {
  display: none;
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}
.event__header{
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 20px;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show-modal 0.4s;

  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.event__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  width: 25rem;
  z-index: 5;
  box-shadow: 0 8px 10px 1px #e6e6e6, 0 3px 14px 2px #e6e6e6, 0 5px 5px -3px #e6e6e6;
  z-index: 600;

}

.event__close__btn {
  margin-left: 22rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1rem;
  &:hover {
    color: $main;
    transition: all ease 0.2s;
  }
}

.event__submit__btn {
  margin-top: 11px;
  margin-left:177px;
  height: 2.5rem;
  width: 5rem;
  border-radius: 10px;
  margin-bottom: 9px;
  background-color: $main;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    background-color: #2e9afe;
    transition: all ease 0.3s;
  }
}

.event__form {
  padding: 0, 12px;
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 16px;
  fill:#5f6368;
}

.attendants__input {
  height: 1.2rem;
  width: 17.5rem;
  padding: 0.5rem;
  font-size: 18px;
  color: #5f6063;
  border: none;
  border-bottom: 1px solid #9b9b9c;
  &:focus {
    outline: none;
    border-bottom: 1px solid $main;
    transition: all ease 0.3s;
    border-radius: 3px;
    background-color: #f1f3f4;
  }
}

.title__input {
  height: 1.2rem;
  width: 17.5rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #9b9b9c;
  font-size: 20px;
  color: #5f6063;
  &:focus {
    outline: none;
    border-bottom: 1px solid $main;
    transition: all ease 0.3s;
  }
}

.event__date__start {
  width: 90%;
  height: 25px;
  margin-right: 20px;
  text-align: center;
}

.event__date__end {
  width: 100%;
  height: 25px;
  text-align: center;
}

.event__textarea__form {
  padding: 0, 12px;
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  textarea {
    resize: none;
    background-color: #f1f3f4;
    border: none;
    font-size: 15px;
    width: 90%;
    height: 100px;
    &:focus {
      outline: none;
      border: none;
      transition: all ease 0.3s;
    }
  }
}

.event-svg {
  margin-right: 10px;
  margin-left: -5px;
}

select {
  width: 77px;
  height: 24px;
  border-radius: 5px;
  background-color: white;
}

option {

  border-radius: 3px;

}

.event-todo-switch{
  width: auto;
  margin: 0 16px;
  padding-left: 52px;
  display: flex;
  position: relative;
  align-self: flex-start;
}
.switch{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 36px;
  color: #5f6368;
  box-flex: 0;
  flex-grow: 0;
  border-radius: 4px;
  height: 36px;
  padding: 0 8px;
  min-width: 0;

  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;

  cursor: pointer;
  &__span{
    display: inline-block;
    white-space: nowrap;
  }
}
.switch-on{
  background-color: #e8f0fe;
  border: none;
  color: #1a73e8;
}

.date-time-selector{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -8px;

  line-height: 20px;
  color: #5f6063;
}
.basetime-select{
  padding-left: 8px;
  padding-right: 8px;
  letter-spacing: normal;

  &__span{
    position: relative;
    cursor: pointer;
    
    &:hover{
      text-decoration:underline;
    }
  }
}  
.time-select{
  display: flex;
  align-content: center;

  &__inner{
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: normal;
  }
  &__span{
    position: relative;
    cursor: pointer;

    &:hover{
      text-decoration:underline;
    }
  }
}