.profile__info__form {
  z-index: 1000;
  transition: opacity 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #9b9b9c;
  background-color: white;
  border-bottom: none;

  span {
    margin-top: 20px;
  }
}

.logout__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 157px;
  margin-top: 10px;
  border: 1px solid #9b9b9c;
  background-color: white;
  border-bottom: none;
  padding: 3px;
  button {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    background-color: #1a73e8;
    border-radius: 3px;
    height: 35px;
    width: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    &:hover {
      background-color: #2e9afe;
      transition: all ease 0.3s;
    }
  }
}
.delete__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 157px;
  border: 1px solid #9b9b9c;
  background-color: white;
  padding: 3px;
  button {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    background-color: #1a73e8;
    border-radius: 3px;
    height: 35px;
    width: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    &:hover {
      background-color: #2e9afe;
      transition: all ease 0.3s;
    }
  }
}
