.add-calendar-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  margin-left: 6rem;
}

.add-calendar-h2 {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 16px;
  margin: 56px 0 10px 0;
  color: #70757a;
}

.email-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.email-div {
  margin-left: 20px;
  height: 1.2rem;
  width: 19.5rem;
  padding: 0.5rem;
  border: none;
  background-color: #f1f3f4;
  font-size: 15px;
  color: #5f6063;
  &:focus {
    outline: none;
    border-bottom: 1px solid #1a73e8;
    transition: all ease 0.3s;
  }
}

.email-btn {
  margin-left: 5px;
  height: 2.2rem;
  width: 5rem;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  background-color: #4889dd;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    background-color: #2e9afe;
    transition: all ease 0.3s;
  }
}
